:root {
    --footer-icons: #ffffff;
    --secondary-shadow: #a17a69
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body,html {
    height: 100% !important;
    color: white !important
}
h3 {
    letter-spacing: 1px
}

.blur {
    filter: blur(1px);
    -webkit-filter: blur(1px)
}

#send-btn {
  animation: scaling 2s 2s ease-in-out infinite;
  color: #79339e !important;
  font-size: 20pt !important;
  width: 150px;
  border-radius: 20px !important;
  border: 2px solid #79339e  !important
}

button:hover{
  border: 0
}

@keyframes scaling {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

/* header */
.background-image {
    background: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)),url('../assets/images/hero.webp') no-repeat fixed center ;
    background-size: cover;
    height: 100vh
}

.navbar-container{
  position: absolute !important;
  top: 5%;
  right: 200px;
  background-color: transparent !important
}

.navbar-container ul {
  list-style: none
}

.navbar-container ul li {
  color: white;
  font-weight: 700;
  font-size: 16pt;
  cursor: pointer
}

.navbar-container ul li:hover {
  transform: scale(1.2)
}

.hero-profile-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: inline-block;
  background: url('../assets/images/profile.webp') no-repeat;
  background-size: contain
}

.absolute-center-container{
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50vh;
    width: 80vw;
}

.welcome-text, .welcome-text-subtitle {
    font-weight: 900;
    font-size: 50pt;
    letter-spacing: 3px
}

.welcome-text-subtitle {
    font-size: 30pt
}

.cursor {
  position: relative
}

.cursor::after {
  content: '';
  position: absolute;
  right: -5px;
  width: 1px;
  height: 55%;
  bottom: 15px;
  border-right: 2px solid white
}

.welcome-text-subtitle::after {
  bottom: 10px
}

  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite
  }

  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s
  }
  
  @keyframes scroll-down {
    0% {opacity: 0 }
    30% {opacity: 1}
    60% {opacity: 1}
    100% {top: 90%; opacity: 0}
  }
  
  
  /* about-me */
  strong {
    display: inline-block
  }

  .frame {
    height: auto;
    width: 100%;
    max-width: 500px;
  }

  strong > img {
    width: 15%;
    height: auto;
    margin-right: 10px
  }

  /* projects */
.project-btn {
  border:0;
  color: white !important
}

  #panda-btn {
    background-color: #258428
  }

  #eprod-btn {
    background-color: #b40001
  }
  #repeta-btn {
    background-color:  #1c6b3c
  }

  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
  }
  
  .card:hover .image,.card:hover .card-body {
    opacity: 0.2
  }
  
  .card:hover .middle {
    opacity: 1
  }

  .projects-subtitle {
    font-size: 11pt
  }

  .box-shadow {
    box-shadow : 0 3px 10px var(--secondary-shadow) !important
  }

  .icon {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0px auto
  }

  /* contact */
  .contact-background-image {
    background: url('../assets/images/contact/contact-img.svg') no-repeat left;
    background-size: contain;
    height: 75vh;
    width: 589px
  }

  input,textarea {
    border:0;
    border-bottom: 1px solid lightslategrey
  }
  
  input::placeholder, textarea::placeholder {
    color: white
  }
  
  .contact-me-container {
    width: auto
  }

  .contact-title {
    left: 15px;
    top: 20%
  }
  .label-up {
    animation: up 1s 1 forwards
  }

  .label-down {
    animation: down 1s 1 forwards
  }

  @keyframes up {
    100% {top: -33.5%; background-color: #a0c6f4}
  }

  @keyframes down {
    0% {top: -33.5%}
    100% {top: 20%}
  }
  
    .contact-textarea-title {
      top: 8%;
      left: 15px
    }

  .textarea-up {
    animation: textareaup 1s 1 forwards
  }

  .textarea-down {
    animation: textareadown 1s 1 forwards
  }


  @keyframes textareaup {
    100% {top: -15%; background-color: #a0c6f4}
  }

  @keyframes textareadown {
    0% {top: -15%}
    100% {top: 8%}
  }


  /* spinner */
.spinner {
  width: 70px;
  height: 70px;
  position: relative
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #ad60f5;
  animation: spinnerTwo 1.2s linear infinite
}

@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 10px }
  50% { transform: rotate(180deg); border-width: 1px }
  100% { transform: rotate(360deg); border-width: 10px }
}
@keyframes spinnerTwo {
  0% { transform: rotate(0deg); border-width: 1px }
  50% { transform: rotate(180deg); border-width: 10px }
  100% { transform: rotate(360deg); border-width: 1px }
}


  /* footer */

  footer .container-fluid {
    background-color: #a0c6f4
  }

  #foot > .bg-dark {
    height: 125px
  }

.bi::before {
    color: var(--footer-icons)
}

footer img:hover {
  transform: scale(1.3)
}

footer a {
  margin: 0px 10px
}

@media screen and (max-width: 990px) {
  .navbar-container {
    left: 50px !important
  }

  ul.navbar-nav {
    gap: 1rem !important;
    margin-left: 25px;
    padding: 5px 0px 5px 5px
  }

  .navbar-container ul li:hover {
    transform: scale(1.05)
  }

  .welcome-text {
    font-size: 1.5rem
  }

  .welcome-text-subtitle {
    font-size: 1rem
  }
}

@media screen and (max-width: 1200px) {
  .absolute-center-container {
    left: 50% !important
  }

  .welcome-text-subtitle::after {
    bottom: 5px
  }

  .welcome-text::after {
    bottom: 10px
  }

  .welcome-text {
    font-size: 2rem
  }

  .welcome-text-subtitle {
    font-size: 1.5rem
  }

}